<footer>
  <ul class="social-links">
    <li><i class="fa-brands fa-square-facebook social-icon"></i></li>
    <li><i class="fa-brands fa-square-instagram social-icon"></i></li>
    <li><i class="fa-brands fa-linkedin social-icon"></i></li>
  </ul>

  <p class="copyright-text">&copy; Wanderlust Private Limited</p>

  <ul class="info-links">
    <li><a href="/privacy">Privacy</a></li>
    <li><a href="/terms">Terms</a></li>
  </ul>
</footer>
