<% layout('/layouts/boilerplate') %>

<body>
  <section class="section-error">
    <div class="container">
      <div class="error alert" style="margin-top: 2.4rem">
        <p class="error-msg"><%= message %></p>
      </div>
    </div>
  </section>
</body>
