/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/*///////////////////////*/
/* HEADER SECTION */
.header {
  /* background-color: #fdf2e9; */
  border-bottom: 1px solid #dee2e6;
  display: flex;
  /* justify-content: space-between; */
  gap: 3.2rem;
  align-items: center;

  /* Because we want the header to be sticky later. */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  font-size: 3rem;
  color: #ff385c;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-out;
}

.logo:hover {
  transform: rotate(0deg);
}

/*///////////////////////*/
/* NAVIGATION */
.main-nav {
  flex-grow: 1;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.6rem;
  transition: all 0.1s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #d6336c;
}

.welcome-user {
  color: #333;
  font-weight: 500;
  font-size: 1.6rem;
  margin-right: 0.4rem;
}

/*///////////////////////*/
/* INDEX SECTION */
.section-index {
  padding: 4.8rem 0;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 3.2rem;
  row-gap: 4.8rem;
}

.card-img-box {
  width: 100%;
  height: 30rem;
  border-radius: 1rem;
  margin-bottom: 1.6rem;
  cursor: pointer;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-fit: cover;
  transition: transform 0.3s ease-out;
}

.card-img:hover {
  transform: scale(1.05);
}

.card-title {
  font-size: 1.6rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.card-price {
  font-size: 1.4rem;
}

/*///////////////////////*/
/* NEW SECTION */
.section-new {
  padding: 4.8rem 0;
}

.section-new .container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.form-group {
  margin-bottom: 1.6rem;
}

.form-group label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.message-textarea {
  height: 100px;
}

/*///////////////////////*/
/* EDIT SECTION */
.section-edit {
  padding: 4.8rem 0;
}

.section-edit .container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/*///////////////////////*/
/* SHOW SECTION */
.section-show {
  padding: 4.8rem 0;
}

.section-show .container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.show-card {
  margin-bottom: 2.4rem;
}

.show-card-img-box {
  width: 100%;
  height: 50rem;
  border-radius: 1rem;
  margin-bottom: 2.4rem;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.09);
}

.show-card-description {
  font-size: 1.6rem;
  line-height: 1.6;
}

.show-card-price {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0.4rem 0 1.2rem 0;
}

.show-card-location {
  font-size: 1.4rem;
}

.show-card-location span,
.show-card-description span {
  font-weight: 500;
}

.show-edit-btn,
.show-delete-btn {
  margin-top: 0;
  padding: 1.2rem 2.4rem;
}

.show-edit-btn {
  background-color: #333;
  color: #fff;
}

.show-edit-btn:hover {
  background-color: #555;
}

.section-ruler {
  margin-top: 3.6rem;
  border: 1px solid #dee2e6;
}

/* Styling Reviews */
.review-section {
  padding: 4.8rem 0;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2.4rem;
}

.review {
  list-style: none;
}

.review-message,
.review-rating {
  font-size: 1.6rem;
}

.review-rating {
  margin-bottom: 1.2rem;
}

.review-user {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  margin-bottom: 1.2rem;
}

.review-user-img {
  width: 5rem;
}

.review-user-name {
  font-size: 1.6rem;
  font-weight: 500;
}

.delete-btn {
  padding: 0.8rem 1.2rem;
  background-color: #333;
  font-size: 1.4rem;
  margin-top: 1.6rem;
}

.delete-btn:hover {
  background-color: #555;
}

.delete-icon {
  font-size: 1.4rem;
  margin-right: 0.2rem;
}

/*///////////////////////*/
/* NEW SECTION */
.section-signup {
  padding: 4.8rem 0;
}

.section-signup .container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/*///////////////////////*/
/* FOOTER SECTION */
footer {
  background-color: #ebebeb;
  display: flex;
  gap: 1.8rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.2rem 0;
  /* position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; */
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  cursor: pointer;
}

.social-icon {
  font-size: 2.4rem;
}

.copyright-text {
  font-size: 1.6rem;
}

.info-links {
  list-style: none;
  display: flex;
  gap: 0.8rem;
}

.info-links a:link,
.info-links a:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #333;
}

.info-links a:hover {
  text-decoration: underline;
}
